[submodule "docker/nginx/static/novnc"]
	path = docker/nginx/static/novnc
	url = https://github.com/novnc/noVNC.git
[submodule "api/lc"]
	path = api/lc
	url = https://github.com/apache/libcloud.git
[submodule "docs/site/mistce-docs/themes/compose"]
	path = docs/site/mistce-docs/themes/compose
	url = https://github.com/onweru/compose.git
